{% extends 'base.html' %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form action="{% url 'logindata' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email :</label>
            
            <input type="text" id="email" name="email" class="form-control" required>

        </div>
        <br/>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
